<div class="bar bar-subheader" style="background-color:#23262a;  height: 0px;" >
    <div class="item-input-inset" style="margin-top:-4px; background-color:#1da090; color:#fff; margin:0px; width:105%; margin-left:-2%; padding-top:5px; padding-bottom:5px;">
        <!--
          <label class="item-input-wrapper" style="text-align:right; direction:rtl">
            <input type="text" ng-model="couponsearch" style="text-align:right; direction:rtl" placeholder="">
          </label>
        -->
        <div style="width: 100%; overflow: hidden; margin-top: 5px; margin-bottom: 5px;">
            <div style="width: 55%; float: right; margin-right: 10px; margin-bottom:0px; ">
                <label class="item item-input item-select ComboLeftStyle111" style="color: #1da090 !important; height: 40px;" >
                    {{'searchbyclubtext' | translate}}
                    <select ng-model="couponfields.clubselect" ng-change="scrollTop()" class="ComboStyle" style="z-index: -10;  margin-top: -20px;" >
                        <option  value="" selected>{{'allclubstext' | translate}}</option>
                        <option  ng-repeat="item in ClubsArray"  value="{{item.index}}" >{{item.name}}</option>
                    </select>
                </label>
            </div>

           <div style="width: 30%; float: right; margin-right: 10px; margin-bottom:1px">
                <button class="button" style="width:90%; background-color: white; color: black; font-size: 10px; margin-top: 0px" ng-if="isClubOwner" ui-sref="app.manage_coupon({ItemId: -1})">
                    {{'addnewcoupontext' | translate}}
                </button>
                <!--&lt;!&ndash;<label class="item item-input item-select ComboLeftStyle1" style="color: #1da090 !important;" >&ndash;&gt;-->
                    <!--&lt;!&ndash;{{'searchbyclubtext' | translate}}&ndash;&gt;-->
                    <!--&lt;!&ndash;<select ng-model="couponfields.areaselect" ng-change="scrollTop()" class="ComboStyle" >&ndash;&gt;-->
                        <!--&lt;!&ndash;<option  value="" selected>{{'selectareatext' | translate}}</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option   value="1" >{{'areaselectone' | translate}}</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option   value="2" >{{'areaselecttwo' | translate}}</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option   value="3" >{{'areaselectthree' | translate}}</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
            </div>

        </div>

    </div>

</div>


<ion-view title="" hide-nav-bar="false" hide-back-button="true" cache-view="false">


<ion-nav-bar class="bar" align-title="center">

    <ion-nav-title>
			<div align="center">
				<!--<button class="button button-block button-positive" style="width:50%; background-color: white; color: black; font-size: 10px;" ng-if="isClubOwner" ui-sref="app.manage_coupon({ItemId: -1})">-->
					<!--{{'addnewcoupontext' | translate}}-->
				<!--</button>-->

                <p style="color: white">{{"Searcharea" | translate}}</p>
			</div>
    </ion-nav-title>
</ion-nav-bar>


        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>


	 <ion-content class="BackgroundImage1" style="margin-top:60px;">
	 
	 

	

      

		<div class="deal" ng-repeat="item in CouponsArray | filter:couponsearch" ng-if="couponfields.clubselect =='' && couponfields.areaselect =='' || couponfields.clubselect == item.club_id && couponfields.areaselect =='' || couponfields.areaselect == item.club_area" align="center"  >


            <div >

                <div class="LicenseRows_image" style="width:30%; float:right;" align="right" ng-click="showDealPopup($index)">
                    <div style="width:100%;" align="center">
                        <div style="width:90%;">
                            <img class="ClubButton_img" ng-if="!item.club_big_image" src="{{phpHost}}/{{item.club_image}}" style="width:100%" />
                             <img class="ClubButton_img" ng-if="item.club_big_image" src="{{phpHost}}/{{item.club_big_image}}" style="width:100%" />
                        </div>
                    </div>
                </div>			
			
                <div class="LicenseRows_text1" style="width:60%; float:right;" ng-click="showDealPopup($index)">

                    <h3> {{item.title}} </h3>
                    <h3 style="margin-top: -10px;"> {{item.price}} <span style="font-size:14px; margin-left:14px;">&#8362;</span> <span style="text-decoration:line-through; font-size:16px;">{{item.oldprice}} &#8362;</span></h3>
					<h6 style="color:#fff;">{{item.start_date}} - {{item.end_date}}</h6>
                    <h4> {{item.details}} </h4>
                    <h5> {{item.club_name}} </h5>
                </div>
                    <div class=" "  style="text-align:center; padding-top:20px; width:10%; float:left; ">
						<div ng-if="item.user_id == loggedInUser" ng-click="deleteCoupon($index,item.id)">
						<i class="ion-trash-a" style="font-size:40px; color:#fff;"></i>
						</div>
						
                    </div>
                <img src="img/license/line.png" class="licenseLine" />
            </div>

			
			
			

  </ion-content>
  
  

</ion-view>




