
<ion-view title="<p class='title-image'>{{'pushmessagestext' | translate}}</p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">

        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>   


	 <ion-content class="BackgroundImage1" style="">

    <div class="MainDiv" align="center">

        
        <div  ng-repeat="item in pushMessages " id="LicenseRepeat" >
        	<div href="#">
                <div>
                    <div class="LicenseRows_text">
                        <h3> {{item.content}}</h3>
                        <h4> {{item.date}} </h4>
                    </div>
                    <div class="LicenseRows_image " ng-click="deleteMessage($index,item.id)" style="text-align:left; width:35%;">
						<!-- <img src="img/close.png" > -->
						<i class="ion-trash-a" style="font-size:40px; color:#fff;"></i>
                    </div>
                    
                    <img src="img/license/line.png" class="licenseLine" />
                </div>
            </div>
        </div>
    </div>
  </ion-content>
  
 	<ion-footer-bar align-title="right" style="height:90px;  padding: 0px; margin: 0px; ">
	<div align="center" style="width:100% !important;" >
	
	
	<div style="">
		<img src="{{phpHost}}/{{RandomBannerImage}}" style="width:100%; height:90px;">
	</div>	
	

	</div>
	</ion-footer-bar> 

</ion-view>




