<ion-view view-title="" hide-nav-bar="true" hide-back-button="false" cache-view="false">
 <ion-content class="BackgroundImage">   
 	 <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <!-- Header -->
            <div>
                <img src="img/logo.png" style="width:100%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
                <div>
				<!--
                  <label class="item item-input InputStyle" >
                  	<input type="text" placeholder="שם מלא" class="licenseInput" ng-model="register.name">
                  </label>
				-->
                  <label class="item item-input InputStyle" >
                  	<input type="text" placeholder="{{'register_firstname' | translate}} " class="licenseInput" ng-model="register.first">
                  </label>
                  <label class="item item-input InputStyle" >
                  	<input type="text" placeholder="{{'register_lastname' | translate}}" class="licenseInput" ng-model="register.last">
                  </label>				  
                  <label class="item item-input InputStyle">
                  	<input type="tel" placeholder="{{'register_phone' | translate}}" class="licenseInput" ng-model="register.phone">
                  </label>				  
                  <label class="item item-input InputStyle">
                  	<input type="text" placeholder="{{'register_email' | translate}} " class="licenseInput" ng-model="register.email">
                  </label>
				  
				  <!--<label class="item item-input InputStyle">			  -->
				   <!--<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'register_birth' | translate}} " class="licenseInput" ng-model="register.birth" >-->
                  <!--</label>-->
                  <!--<label class="item item-input InputStyle">-->
                  	<!--<input type="tel" placeholder="{{'register_id' | translate}}" class="licenseInput" ng-model="register.personalid">-->
                  <!--</label>	-->
				<!--<label class="item item-input item-select ComboLeftStyle" >-->
					<!--{{'register_gender' | translate}}-->
					<!--<select ng-model="register.gender" class="ComboStyle" >-->
						<!--<option value="{{'register_male' | translate}}" >{{'register_male' | translate}}</option>-->
						<!--<option value="{{'register_female' | translate}}" >{{'register_female' | translate}} </option>-->
					<!--</select>-->
				<!--</label>	-->

				<!--
				selected="selected"
				-->
				<label class="item item-input item-select ComboLeftStyle" >
					{{'adddiary_country' | translate}}
					<select ng-model="register.country" class="ComboStyle" >
						<!-- <option value="">{{'adddiary_country' | translate}}</option> -->
						<option value="IL" >{{'countries_IL' | translate}} </option>
						<option value="{{key}}" ng-repeat="(key, value) in languagesJson  " >{{value}}</option>
						
					<!--
						
						<option value="EG">{{'countries_EG' | translate}} </option>
						<option value="PW">{{'countries_PW' | translate}} </option>
						<option value="PH">{{'countries_PH' | translate}} </option>
						<option value="JO">{{'countries_JO' | translate}}  </option>
						<option value="ZA">{{'countries_ZA' | translate}} </option>
						<option value="MV">{{'countries_MV' | translate}} </option>
						<option value="EC">{{'countries_EC' | translate}} </option>
						<option value="CC">{{'countries_CC' | translate}} </option>
						<option value="FM">{{'countries_FM' | translate}} </option>
						<option value="HI">{{'countries_HI' | translate}} </option>
						<option value="TH">{{'countries_TH' | translate}} </option>
						<option value="MY">{{'countries_MY' | translate}}  </option>
						<option value="CR">{{'countries_CR' | translate}}  </option>
						<option value="AU">{{'countries_AU' | translate}} </option>
						<option value="NZ">{{'countries_NZ' | translate}}</option>
						<option value="GY">{{'countries_GY' | translate}} </option>
						<option value="BZ">{{'countries_BZ' | translate}}  </option>
						<option value="MT">{{'countries_MT' | translate}}  </option>
						<option value="GR">{{'countries_GR' | translate}}  </option>
						<option value="US">{{'countries_US' | translate}} </option>
				  -->
					</select>
				</label>					  
                  <label class="item item-input InputStyle">
                  	<input type="text" placeholder="{{'register_username' | translate}} " class="licenseInput" ng-model="register.username">
                  </label>
                  <label class="item item-input InputStyle">
                  	<input type="password" placeholder="{{'register_password' | translate}} " class="licenseInput" ng-model="register.password">
                  </label>
				  
				  
					
				  
				  
                </div>
            </div>
			
			<p class="inputLabel" >
			<ion-checkbox ng-model="register.agree" style="width:40px; float:right; background-color:transparent; border:none"></ion-checkbox>
			{{'register_terms1' | translate}} <span style="color:yellow; font-weight:bold;" ng-click="openTerms()">{{'register_terms2' | translate}} </span></p> 
			
            <!-- Login \ Registe Buttons -->
			
            <div>
                <div ng-click="RegisterBtn()">
                	<img ng-src="{{RegisterImage}}" style="width:100%; margin-top:10px;" />
                </div>
                
                <div href="#/app/main" ng-click="LoginBtn()">
                    <img ng-src="{{LoginImage}}" style="width:100%; margin-top:20px;" />
                </div>
                <img src="img/tapper.png" style="width:100%; margin-top:90px;" />
            </div>
         </div>
    </div>
    
    <!--
	<div align="center">
	
	
		
		<div class="list" style="direction:rtl;">
		  <label class="item item-input">
			<input type="text" placeholder="שם מלא" ng-model="register.name">
		  </label>
		  <label class="item item-input">
			<input type="text" placeholder="אימייל" ng-model="register.email">
		  </label>
		  <label class="item item-input">
			<input type="text" placeholder="שם משתמש" ng-model="register.username">
		  </label>
		  <label class="item item-input">
			<input type="password" placeholder="סיסמה" ng-model="register.password">
		  </label>		  
		</div>	
		<div class="padding">
				<button class="button button-block button-positive" ng-click="RegisterBtn()">הרשמה</button>
				<button class="button button-block button-calm" ng-click="LoginBtn()">התחברות</button>
		</div>	

		
	
	</div> -->
   

   
  </ion-content>
</ion-view>
