


<ion-view title="<p class='title-image'>{{'updateinfo_title' | translate}}</p>" hide-nav-bar="false" hide-back-button="true">

<!--
  <ion-nav-bar >
  <ion-nav-back-button class="button-clear"
    ng-click="myGoBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
-->
        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>    

  <ion-content class="BackgroundImage">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
       		<div class="logoDiv">
                <img src="img/logo.png" style="width:50%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
                <div>
                  <label class="item item-input InputStyle" >		  
                  	<input type="text" placeholder="{{'updateinfo_fullname' | translate}}" ng-readonly="true" class="licenseInput" ng-model="info.name" >
                  </label>
                  <label class="item item-input InputStyle">			  
                  	<input type="tel" placeholder="{{'updateinfo_phone' | translate}}" class="licenseInput" ng-model="info.phone">
                  </label>				  
                  <label class="item item-input InputStyle">			  
                  	<input type="text" placeholder="{{'updateinfo_email' | translate}}" class="licenseInput" ng-model="info.email">
                  </label>
				  
				  <label class="item item-input InputStyle">			  
				   <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'updateinfo_birthdate' | translate}}" class="licenseInput" ng-model="info.birth" >
                  </label>

				<label class="item item-input item-select ComboLeftStyle" >
					{{'updateinfo_country' | translate}}
					<select ng-model="info.country" class="ComboStyle" >
						<!-- <option value="">{{'adddiary_country' | translate}}</option> -->
						<option value="IL" selected="selected">{{'countries_IL' | translate}} </option>
						<option value="{{key}}" ng-selected="{{info.country == key}}" ng-repeat="(key, value) in languagesJson" >{{value}}</option>




						
					<!--
						<option value="IL" selected="selected">{{'countries_IL' | translate}} </option>
						<option value="EG">{{'countries_EG' | translate}} </option>
						<option value="PW">{{'countries_PW' | translate}} </option>
						<option value="PH">{{'countries_PH' | translate}} </option>
						<option value="JO">{{'countries_JO' | translate}}  </option>
						<option value="ZA">{{'countries_ZA' | translate}} </option>
						<option value="MV">{{'countries_MV' | translate}} </option>
						<option value="EC">{{'countries_EC' | translate}} </option>
						<option value="CC">{{'countries_CC' | translate}} </option>
						<option value="FM">{{'countries_FM' | translate}} </option>
						<option value="HI">{{'countries_HI' | translate}} </option>
						<option value="TH">{{'countries_TH' | translate}} </option>
						<option value="MY">{{'countries_MY' | translate}}  </option>
						<option value="CR">{{'countries_CR' | translate}}  </option>
						<option value="AU">{{'countries_AU' | translate}} </option>
						<option value="NZ">{{'countries_NZ' | translate}}</option>
						<option value="GY">{{'countries_GY' | translate}} </option>
						<option value="BZ">{{'countries_BZ' | translate}}  </option>
						<option value="MT">{{'countries_MT' | translate}}  </option>
						<option value="GR">{{'countries_GR' | translate}}  </option>
						<option value="US">{{'countries_US' | translate}} </option>
					-->
					</select>
				</label>		



				<label class="item item-input item-select ComboLeftStyle" >
					{{'updateinfo_gender' | translate}}
					<select ng-model="info.gender" class="ComboStyle" >
						<option value="{{'register_male' | translate}}" ng-selected="{{info.gender == Gender1}}">{{'register_male' | translate}}</option>
						<option value="{{'register_female' | translate}}" ng-selected="{{info.gender == Gender2}}">{{'register_female' | translate}} </option>
					</select>
				</label>	


			<p class="inputLabel" >
			<ion-checkbox ng-model="info.push_enabled" style="width:40px; float:right; background-color:transparent; border:none"></ion-checkbox>
			{{'pushtoggletext' | translate}} 
			</p> 

			
				
                </div>
            </div>

	  <div style="margin-top:15px" ng-click="saveInfo()">
                    <img src="{{UpdateInfoImage1}}" style="width:100%; margin-top:10px;" />
      </div>
	 
	
	 

	</div>
	
	</div>
	
   
   
   
   
  </ion-content>
  
  


</ion-view>
