<ion-view title="<p class='title-image'>{{'divinglicense_title' | translate}}</p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">

        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>   
		
		
	<div class="bar bar-footer" style="height:12%;  width:100%; padding:0;" >
    	<div class="tabs tabs-icon-only" style="background-color:#5FBBAF; margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
          <a class="tab-item" ng-click="AddLicenseBtn()" >
            <img src="{{MainLicenseImage3}}" width="100%"/>
          </a>
          <a class="tab-item" ng-click="deleteLicense()">
            <img src="{{MainLicenseImage4}}" width="100%" />
          </a>
          <a class="tab-item" ng-click="CameraOption(2)">
            <img src="{{MainLicenseImage5}}" width="100%" />
          </a>
           <a class="tab-item" ng-click="CameraOption(1)">
            <img src="{{MainLicenseImage6}}" width="100%" />
          </a>
        </div>
	</div>

	<ion-content class="BackgroundImage">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
       		<div class="logoDiv">
                <img src="img/logo_text.png" style="width:100%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
                <div>
                  <label>
                    		<input type="text" placeholder="{{'divinglicense_name' | translate}}" class="InputStyle" style="margin-top:5px; color:white;" ng-model="license.title">
                  </label>
<!--                
                  <label style="margin-top:10px;">
                    		<input type="text" placeholder="{{'divinglicense_desc' | translate}}" class="InputStyle" style="margin-top:5px; color:white;" ng-model="license.desc">
                  </label>
-->			  
				  <textarea  rows="3" cols="50"  class="InputStyleTextarea"  placeholder="{{'divinglicense_desc' | translate}}"  ng-model="license.desc"> </textarea>

				  
  
				  <div class="license_Picture">
                      <label id="license_Picture_left" ng-click="ShowImageModal(1)" ng-show="uploadedimage" >
                                <img  ng-src="{{uploadedimage}}" class="Img_Border" align="center" style="width:100%;">
                      </label>
                      <div id="license_Picture_right" align="left">
                      	<img src="{{MainLicenseImage1}}" style="width:100%;" />
                      </div>
				  </div>
				  
                <!--   <label class="CameraLicense"    ng-click="CameraOption(1)">
							<img  ng-src="img/picture.jpg" class="LicenseImage" align="center">
				  </label>-->
				<div class="license_Picture">
                  <label id="license_Picture_left_1" ng-click="ShowImageModal(2)" ng-show="uploadedimage2">
                            <img  ng-src="{{uploadedimage2}}" class="Img_Border" align="center" style="width:100%;">
                  </label> 
                  <div id="license_Picture_right_1" align="left">
                      	<img src="{{MainLicenseImage2}}" style="width:100%;" />
                      </div>                

                 <!-- <label class="CameraLicense"    ng-click="CameraOption(2)">
							<img  ng-src="img/picture.jpg" class="LicenseImage" align="center">
				  </label> -->


				  
				  
                  <!--<label class="item item-input"  style="margin-top:0px;">
						<div>
						<img  ng-src="{{uploadedimage}}" class="LicenseImage" align="center">
						</div>
						<div>
						<img  ng-src="{{uploadedimage2}}" class="LicenseImage" align="center">
						</div>
				  </label>	-->	  
                </div>
            </div>
            <!-- Login \ Registe Buttons 
            <div style="margin-top:35px" ng-click="AddLicenseBtn()">
                    <img src="img/license/save.jpg" style="width:100%; margin-top:10px;" />
            </div>
             <div style="margin-top:5px" ng-click="deleteLicense()" ng-show="showDelete">
                    <img src="img/license/delete.jpg" style="width:100%; margin-top:0px;" />
            </div>-->
         </div>
    </div>
	
	
		<!--
		<ion-pane class="transparent">
		</ion-pane>
		-->
	
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{licenseImageModal}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>
		  
	
  </ion-content>
  
  <!--
  <ion-content>
   
	<div align="center">
	
	
		<div class="list" style="direction:rtl;">
		  <label class="item item-input">
			<input type="text" placeholder="שם הרישיון" ng-model="license.title">
		  </label>
		  <label class="item item-input">
			<textarea placeholder="פרטים על הרישיון" ng-model="license.desc"></textarea>
		  </label>
		  <label class="item item-input" ng-click="CameraOption()">
		  <!--
			<img  ng-show="imgURI !== undefined" ng-src="{{imgURI}}" align="center"  style="width:100%;">
			
			
			<img   ng-src="{{uploadedimage}}" align="center" style="width:100%;">
			
			
		  </label>		  
		</div>	
		<div class="padding">
				<button class="button button-block button-positive" ng-click="AddLicenseBtn()">הכנס רישיון חדש</button>
		</div>	


		
	
	</div>
   

   
  </ion-content>-->
</ion-view>
