
<ion-view title="<p class='title-image'>{{'clubsmain_title' | translate}}</p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">


        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>  
		

 <ion-content class="BackgroundImage1" style="margin-top:0px; ">
    <div class="MainDiv" align="center" style="margin-top:0px">


		<div>
  			<ion-slide-box show-pager="{{showPager}}" ng-if="clubData.club_gallery.length > 0 ">
                  <ion-slide ng-repeat="item in clubData.club_gallery">
                     <img ng-src="{{phpHost}}/{{item.image}}"  style="width:100%" />
                  </ion-slide>
            </ion-slide-box>
          
            <div ng-if="clubData.club_gallery.length == 0">
				<img src="{{phpHost+clubData.image}}" ng-if="clubData.image" style="width:100%;">
            </div>
        </div>	   
	   
	   
             <table style="margin-top:-5px;">
        	<tr>
                <td>
                	<img   src="img/main_icons/face.png" ng-click="openFacebook()" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/waze.png" ng-click="openWaze()"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>
        
         <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/ic2.jpg" ng-click="openWebsite()" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/ic4.png" ng-click="PhoneClub()" style="width:100%; margin-top:-3px;" />
                </td>
				
                <td>
                	<img   src="img/main_icons/ic3.png"  ng-click="MailClub()"  style="width:100%; margin-top:-3px;" />
                </td>
				
				
				<!--
                <td>
                	<img   src="img/main_icons/ic1.png"  ng-click="ShareClub()"  style="width:100%; margin-top:-3px;" />
                </td>
				-->

            </tr>
        </table>
		
		
        <div class="mainInfo"  >
        	<div class="mainInfoText" >
               <h3>{{clubData.name}}</h3>
			   <!--
                <h3 ng-if="clubData.address" style="font-size:14px !important;">{{"address_text" | translate}}: {{clubData.address}}</h3>
				-->
                
				<!-- <h3 ng-if="clubData.phone2" style="font-size:14px !important;">{{"phone_text" | translate}}: {{clubData.phone2}}</h3> -->
                <h3 ng-if="clubData.workinghours" style="font-size:14px !important;">{{"openinghours_text" | translate}}: {{clubData.workinghours}}</h3>
				</h3>
            </div>

       </div>
	   
	   
	   <div ng-repeat="item in clubData.club_banners">
	    <img ng-src="{{phpHost}}/{{item.image}}"  style="width:100%" />
	   </div>
	   
	   </div>
	   
            
	
     <div class="mainInfo">
                <h4 ng-bind-html="clubData.details" style="width:100%;"></h4>
      </div>
	
	  
	  
	  
        
    
  </ion-content>
</ion-view>





	

    	