<ion-view style="background-color:transparent !important;">

    <div class="infoBlock">
        <button class="button button-clear infoCloseButton" ng-click="closeDealPopup()">
            <img src="img/close.png" style="width:25px">
        </button>
        <div class="infoMainImg" >
            <img ng-src="{{phpHost}}/{{ couponInfo.club_big_image }}" style="width: 100%;">
        </div>
        <div class="infoPlaceHolder">
		<!--
            <div class="infoLogo" >
				<img ng-src="{{phpHost}}/{{ couponInfo.club_image }}" style="width: 100%;">
            </div>
		-->
            <div class="infoText">
                <p class="infoTextTitle">{{ couponInfo.title }}</p>
				<p class="infoTextDesc" style="direction:rtl;">{{couponInfo.price}} &#8362; <span ng-if="couponInfo.oldprice" style="text-decoration:line-through;">{{couponInfo.oldprice}}</span></p>

				<p class="infoTextDesc">{{ couponInfo.details }}</p>
				<p class="infoTextDesc" >
					<span style="color:black !important;">{{ couponInfo.start_date }}</span> <span style="color:black !important;">- {{couponInfo.end_date}}</span>
				</p>
            </div>
			
            <div class="infoButtons" ng-if="couponInfo.club_phone2">
                <div class="infoPhone">
                    <a href="tel:{{ couponInfo.club_phone2 }}"><img src="img/phone_icon.png" width="30"></a>
                </div>
            </div>
        </div>
    </div>
</ion-view>
