<ion-view title="<p class='title-image'>{{'main_insuranceoptions5' | translate}}</p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">

        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ui-sref="app.divinglicense()" ></button>
        </ion-nav-buttons>   
		
		
	<div class="bar bar-footer" style="height:16%;  width:100%; padding:0;" >
    	<div class="tabs tabs-icon-only" style="background-color:#5FBBAF; margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
          <a class="tab-item" ng-click="AddLicenseBtn()">
             <img src="{{MainLicenseImage3}}" width="100%"/> 
          </a>
          <a class="tab-item" ng-click="deleteLicense()" >
            <img src="{{MainLicenseImage4}}" width="100%" />
          </a>

           <a class="tab-item" ng-click="CameraOption(1)">
           <!-- <img src="{{MainLicenseImage6}}" width="100%" /> -->
            <img src="{{MainLicenseImage8}}" width="100%" />

          </a>
        </div>
	</div>
	<ion-content class="BackgroundImage1">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
       		<div class="logoDiv" style="margin-top:10px;">
                <img src="img/logo_text.png" style="width:100%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
                <div>

				  
                  <div class="license_Picture">
                      <label id="license_Picture_left" ng-click="ShowImageModal(1)" ng-show="uploadedimage" >
                                <img  ng-src="{{uploadedimage}}" class="Img_Border" align="center" style="width:100%;">
                      </label>
                      <div id="license_Picture_right" align="left" style="margin-left:10px;">
                      	<img src="{{MainLicenseImage7}}" style="width:100%;" />
                      </div>
					  

					  
					  
 				  </div>
					<!--
					  <div style="margin-top:30px;" ng-click="externalInsurance(1)">
						<img src="{{InsuranceImage1}}" style="width:100%;">
					  </div>	
					  
					  <div style="margin-top:10px;" ng-click="externalInsurance(2)">
						<img src="{{InsuranceImage2}}" style="width:100%;">
					  </div>
					-->
					  
                </div>
            </div>
           
			

         </div>
    </div>
	
	
		<!--
		<ion-pane class="transparent">
		</ion-pane>
		-->
	
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{licenseImageModal}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>
		  
	
  </ion-content>
  

</ion-view>













