
<ion-view title="<p class='title-image1' ><span>I LOVE DIVE</span></p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">

    <ion-nav-buttons side="left" >
		<!--
        <a class="item-icon-left" href="#" style="text-decoration:none; width:40px; margin:0px; margin-top:-3px; padding:0px; margin-left:3px; overflow: hidden " ui-sref="app.coupons()">
            <img src="img/flag_icon.png" style="width:20px; height:30px; margin-top: 5px; float: left">
        </a>
		-->
        <a class="item-icon-left" href="#" style="text-decoration:none; width:30px; margin:0px; margin-top:5px; padding:0px; margin-left:3px; overflow: hidden " >
            <img src="img/en.png" style="width:30px; margin-top:3px;" ng-click="changeLanguage('en')">
        </a>
        <a class="item-icon-left" href="#" style="text-decoration:none; width:30px; margin:0px; margin-top:5px; padding:0px; margin-left:6px; overflow: hidden " >
            <img src="img/heb.png" style="width:31px; margin-top:2.5px;" ng-click="changeLanguage('he')">
        </a>

    </ion-nav-buttons>

    <ion-nav-buttons side="right" >
        <div style="margin-top: 5px;" ui-sref="app.messages">
            <i class="ion-android-mail" style="color:white; padding:3px; margin-right:3px;  z-index:-1; font-size: 23px; position:relative" ></i>
            <p class="badge badge-assertive" style="top:-3px !important; position: relative" ng-if="TotalMessagesCount > 0">{{TotalMessagesCount}}</p>
        </div>



        <button class="button button-icon button-clear ion-navicon"
                menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="BackgroundImage has-footer" style="">




        <div class="MainDiv" align="center">
            <div class="Inside_MainDiv">
                <div class="logoDiv" style="margin-top:20px;">
                    <img src="img/logo.png" style="width:100%" />
                </div>
                <div class="cubesDiv">
                    <div class="HeadreCubes">
					
					
                        <div class="leftCube " ui-sref="app.divinglicense" >
                            <img src="{{MainImage1}}" style="width:100%" />
                        </div>

                        <div class="rightCube" ui-sref="app.coupons">
                            <img src="{{MainImage2}}" style="width:100%" />
                        </div>
                    </div>
                    <div class="ButtonsCubes">
                        <div class="leftCube" ui-sref="app.clubs">
                            <img src="{{MainImage3}}" style="width:100%" />
                        </div>
                        <div class="rightCube" ui-sref="app.divingdiary">
                            <img src="{{MainImage4}}" style="width:100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </ion-content>

    <ion-footer-bar align-title="right" style="height:90px;  padding: 0px; margin: 0px; ">
        <div align="center" style="width:100% !important;" >


            <div style="">
                <img src="{{phphost}}/{{RandomBannerImage}}" style="width:100%; height:90px;">
            </div>

            <!--<div ng-click="openWeatherModal()" >-->
                <!--<div style="color:#fff; font-weight: bold ; border-bottom: 1px solid white; padding: 3px; padding-top: 0px;">{{'weather_temp_text' | translate}}: {{WeatherData.main.temp}} | {{'wind_temp_text' | translate}}: {{WeatherData.wind.speed}} |-->
                    <!--<div ng-if="DefaultLanguage == 'he'" style="display:inline; color:#fff;">{{SelectedWeatherCity}}  </div>-->
                    <!--<div ng-if="DefaultLanguage == 'en'" style="display:inline; color:#fff;">  {{SelectedWeatherCityEn}}</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </ion-footer-bar>


</ion-view>
