<ion-view title="<p class='title-image'> </p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">


        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>   
		
		

	<ion-content class="BackgroundImage" scroll="true">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
       		<div class="logoDiv">
                <img src="img/logo.png" style="width:100%" />
            </div>
            <!-- Input Text -->

            <div class="loginForm">
			<div ng-style="contactStyle" >
			
			<p class="contactText" style="display:inline;"></p>
			</div>
                <div>
                  <label class="item item-input InputStyle">
                    <input type="text" placeholder="{{'dealtitletext' | translate}}" class="licenseInput" ng-model="couponfields.title">
                  </label>
                  <label class="item item-input InputStyle">
                    <input type="tel" placeholder="{{'dealoldpricetext' | translate}}" class="licenseInput" ng-model="couponfields.oldprice">
                  </label>
                  <label class="item item-input InputStyle">
                    <input type="tel" placeholder="{{'dealpricetext' | translate}}" class="licenseInput" ng-model="couponfields.price">
                  </label>

                  <label class="item item-input InputStyle">
					<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')"  placeholder="{{'dealdatetext' | translate}}"  class="licenseInput" ng-model="couponfields.coupondate" >
                  </label>

                  <label class="item item-input InputStyle">
					<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')"  placeholder="{{'dealenddatetext' | translate}}"  class="licenseInput" ng-model="couponfields.couponenddate" >
                  </label>

				  <textarea  rows="3" cols="50"  class="InputStyleTextarea"  placeholder="{{'dealdesctext' | translate}}"  ng-model="couponfields.desc"> </textarea>


                </div>
            </div>
            
            <div style="margin-top:15px" ng-click="sendCoupon()">
                    <img src="{{saveCouponImage}}" style="width:100%; margin-top:10px;" />
            </div>
   
         </div>
    </div>
	

		  
	
  </ion-content>
  

</ion-view>
