<ion-modal-view>

  <ion-content class="BackgroundImage">
    <div class="MainDiv" align="center" style="margin-top: 30px;">
    	<div class="Inside_MainDiv">
       		<div class="logoDiv">
                <img src="img/logo.png" style="width:50%" />
            </div>
	    </div>
        <div style="margin-top: 15px;">
            <div ng-repeat="item in WeatherArray"  class="WeatherMainDiv" style="">
                <div class="toogle" style=" ">
                    <div class="tooglLeft" ng-if="DefaultLanguage == 'he'">{{item.title}}</div>
                    <div class="tooglLeft" ng-if="DefaultLanguage == 'en'">{{item.title_english}}</div>
                    <!-- {{'toggles_itemno' | translate}}  -->
                    <div ng-class = "item.selected == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="selectWeather($index)">
                        <div></div>
                    </div>
                    <div class="lineToogle">
                        <img src="img/line2.png" style="width:100%;" />
                    </div>
                </div>
            </div>
        </div>

	</div>
	
   
   
   
   
  </ion-content>
  
</ion-modal-view>



