/* Empty. Add your own CSS if you like */

.BackgroundImage
{
	background-image:url('../img/back.jpg'); 
	background-size:100% 100%; 
	overflow:hidden
}

.BackgroundImage1
{
	background-image:url('../img/back1.jpg'); 
	background-size:100% 100%; 
	overflow:hidden
}

.bar 
{
	border:none !important;
	background-image: none !important;
}

.MainDiv
{
	width:100%;
	overflow:hidden;
}

.Inside_MainDiv
{
	width:65%;
	margin-top:0px;
}

.loginForm div
{
	width:100%;
	margin-top:15px;
}

.loginInput 
{
	position:relative;
	left:10px;
	padding-left:10px;
}

.title-image
{
	font-size:18px;
	font-weight:bold;
	margin-top:-2px;
    text-align: center;
}

.title-image1
{
    font-size:18px;
    font-weight:bold;
    margin-top:-2px;
    width: 110px;
    text-align: center;
}

.title-image span
{

}

.title-image::first-letter {
  text-transform: uppercase;

}

.title 
{
	
}

.title::first-letter {
  text-transform: uppercase;
}

/* Main Page  */

.cubesDiv
{
	overflow:hidden;
	margin-top:10px;
}

.HeadreCubes
{
	width:100%;
	overflow:hidden;
}

.leftCube
{
	float:left;
	width:49%;
}

.rightCube
{
	float:right;
	width:49%;
}


/* License Page*/


.LicenseRows
{
	overflow:hidden;
	width:100%;
	margin-top:20px;
}

.LicenseRows_text
 {
     float:right;
     width:65%;
     text-align:right;
     direction:rtl;
     padding-right:10px;
     color:white;
 }

.LicenseRows_text1
{
    float:left;
    width:65%;
    text-align:right;
    direction:rtl;
    padding-right:10px;
    color:white;
}

.LicenseHeader_text
{
	width:100%;
	font-weight:bold;
	padding-top:10px;
}

.LicenseRows_text h3
{
	color:white;
	font-weight:bold;
}

.LicenseRows_text h4
{
	color:white;
	margin-top:-10px;
    font-size: 15px;
}

.LicenseRows_text1 h3, span
{
    color:white;
    font-weight:bold;
}

.LicenseRows_text1 h4, h5
{
    color:white;
    margin-top:-10px;
    font-size: 15px;
}

.LicenseRows_text1 h5
{
    color:greenyellow;
    margin-top:-10px;
    font-size: 15px;
}


.LicenseRows_image
{
    float:left;
    overflow:hidden;
    padding-left:10px;
    width: 20%;
}


.LicenseRows_img
{
    /*-webkit-box-shadow: 0 6px 6px -6px #000;
    -moz-box-shadow: 0 6px 6px -6px #000;
    box-shadow: 0 6px 6px -6px #000;*/
}



.Img_Border
{
	padding: 6px;
    background:#cedbe0;
    border:4px solid white;
}



.HeaderRows_image
{
	overflow:hidden;
	padding-left:10px;
}

.HeaderRows_img
{
	height:80px;
	-webkit-box-shadow: 0 6px 6px -6px #000;
	-moz-box-shadow: 0 6px 6px -6px #000;
	box-shadow: 0 6px 6px -6px #000;
}


.license_Picture
{
	overflow:hidden;
	width:100%;
}

#license_Picture_left
{
	float:left;
	width:50%;
	margin-left:25%;
}


#license_Picture_right
{
	float:left;
	width:50px;
	left:0px;
	margin-top:5px;
}

#license_Picture_left_1
{
	float:left;
	width:50%;
	margin-left:25%;
}


#license_Picture_right_1
{
	float:left;
	width:50px;
	left:0px;
	margin-top:5px;
}



.ClubButton_img
{
	-webkit-box-shadow: 0 6px 6px -6px #000;
	-moz-box-shadow: 0 6px 6px -6px #000;
	box-shadow: 0 6px 6px -6px #000;
}

.LicenseRows_img_circle
{
	width:90px;
	border-radius:80px;
	-webkit-box-shadow: 0 6px 6px -6px #000;
	-moz-box-shadow: 0 6px 6px -6px #000;
	box-shadow: 0 6px 6px -6px #000;
}


.licenseLine
{
	margin-bottom:5px;
	width:100%;
}

.iIcon
{
	padding-right:10px;	
}

.licenseInput
{
	text-align:center;
	color:white !important;
	font-weight:bold;
	direction:rtl
}


.licenseIcon
{
	width:24px;
	margin-top:6px;
}

.LicenseImage
{
	width:100%; 
	margin-top:5px; 
	margin-bottom:10px; 
}

.CameraLicense
{
	margin:0;
	padding:0;
}

.LicenseImg
{
	/*width:100%;*/
	width:100%;
	height:20px;
	border:0px solid #fff;
	-webkit-box-shadow: 0 6px 6px -6px #000;
	-moz-box-shadow: 0 6px 6px -6px #000;
	box-shadow: 0 6px 6px -6px #000;
}

.LicenseImg img
{
	width:100%;
}

#LicenseRepeat
{
	margin-top:10px;
}


.graph
{
	text-align:left;
	color:white;
	font-size:25px;
}


#graphP1
{
	/*padding-left:10px;
	margin-bottom:-50px;
	color:white;
	font-weight:bold;*/
	text-align:center;
	padding-top:10px;
	margin-top:-40px;
	color:white;
	font-weight:bold;
}

#graphP2
{
	text-align:center;
	padding-top:10px;
	margin-top:10px;
	color:white;
	font-weight:bold;
}


.InputStyle
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:white !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:50px !important;
	text-align:center;
	z-index:100;
	width:100%;
	background-color:transparent !important;
    border:2px solid white !important;
	margin-top:7px !important;
}

.InputStyleTextarea
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:white !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:120px !important;
	text-align:center;
	z-index:100;
	width:100%;
	background-color:transparent !important;
    border:2px solid white !important;
	margin-top:7px !important;
}


.inputLabel
{
	text-align:right; 
	color:white;
	margin-bottom:-3px;
	margin-top:10px;
}

.ComboStyle
{
	background-color:transparent !important;
	border:none !important; 
	text-align:right !important; 
	padding-right:25px !important;
    padding-left:0px !important;
    width: 100%;
	padding-top:5px !important;
	padding-bottom:10px !important;
	font-weight:bold;
	color:white !important;
}

.ComboLeftStyle
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:white !important;
	padding-bottom:10px !important;
	height:50px !important;
	text-align:center;
	z-index:100;
	width:100%;
	background-color:transparent !important;
    border:2px solid white !important;
	margin-top:7px !important;
}


.ComboLeftStyle1
{
    position:relative;
    font-size:16px;
    font-weight:bold;
    color:white !important;
    padding-bottom:10px !important;
    height:50px !important;
    text-align:center;
    z-index:100;
    width:100%;
    background-color:transparent !important;
    border:1px solid white !important;
    margin-top:7px !important;
}



::-webkit-input-placeholder { color:#fff; opacity: 1 !important; }
:-moz-placeholder { color:#fff; !important; }
::-moz-placeholder {color:#fff; !important; }
:-ms-input-placeholder {color:#fff; !important; }


.contactText
{
	color:white;
	font-size:16px;
	margin-top:-8px;
}


.loading {
	direction:rtl;
}

.titleInput
{
	width:90%;
	background-color:#f0f2f1;
	border-radius:5px;
	/* padding:15px !important; */
	color:#333;
}

.popup-head 
{
	background-color:#5FBBAF;
}

.popup-buttons
{
	background-color:#5FBBAF;
}

.popup-title
{
	color:#fff;
	font-weight:bold;
}



.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:0px;
	overflow:hidden;
}

.mainInfoText
{
	float:right;
	width:60%;
}

.mainInfo h3
{
	font-size:16px;
	font-weight:bold;
	color:#fff;
}

.mainInfo h4
{
	font-size:14px;
	color:#fff;
	line-height:1.4;
}


/* Deal Css */

.deal
{
    margin-top: 10px;
}

.dealImg
{
	width:100%;
	margin-top:10px;
}

.dealBck
{
	position:relative;
	margin-top:0px;
	width:100%;
	z-index:1;
}

.dealInfo
{
	position:relative;
	width:100%;
	overflow:hidden;
	margin-top:0px;
	z-index:100;
    background-color:#ffffff;
}

.dealPrice
{
	float:right;
	width:25%;
	margin-top:5px;
}

.dealDetails
{
	float:right;
	position:relative;
	width:58%;
	z-index:100;
	text-align:right;
    margin-top: 15px;
    color: black;
}

.dealDetails h3
{
	font-size:17px;
	font-weight:700;
	margin-top:10px;
}

.dealDetails h4
{
    font-size:17px;
    font-weight:200;
    margin-top:-8px;
}

.dealDetails p
{
	font-size:12px;
	font-weight:600;
	direction:rtl;
	margin-top:-8px;
}


.dealPlace
{
	float:right;
	position:relative;
	width:12%;
	z-index:100;
	color:#b2d233;
	text-align:right;
	margin-top:15px;
	margin-right:10px;
}

.dealPlace p
{
	color:#b2d233;
	font-size:11px;
	font-weight:600;
	direction:rtl;
	margin-top:5px;
	text-align:center;
	line-height:1;
}

.newPrice
{
	position:absolute;
	z-index:100;
	font-size:19px;
	margin-top:20px;
    font-weight: bold;
	color:#4d4d4d;
	direction:rtl;
	font-family: 'Rubik', sans-serif;
	word-spacing:-7px;
    text-align: center;
}

.oldPrice
{
	position:absolute;
	z-index:100;
	font-size:9px;
	margin-top:40px;
	color:#4d4d4d;
	direction:rtl;
	font-weight:300;
	font-family: 'Rubik', sans-serif;
}
/* end deals */

/*Info modal layout*/

.infoMainDiv .popup
{
    background-color: transparent !important;
    padding-top: 30px;
    width: 100% !important;
    height: 430px;
}

.infoMainDiv .popup-head {

    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
    background-color: transparent !important;
}

.infoBlock {
    width: 100%;
    margin-top: 20px;
    background-color: transparent !important;;
}

.infoMainImg {
    width: 94%;
    margin: 0 3%;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
}

.infoPlaceHolder {
	background-color:white;
	overflow:hidden;
    width: 94%;
    margin: -5px 3% 0 3%;
    padding: 5px;
}

.infoCloseButton {
	right:-10px;
	top:2px;
	position:absolute;
}

.infoLogo
{
	float:right;
	width:20%;
    padding-top: 10px;
}

.infoText
{
	float:right;
	width:60%;
	padding:5px 5px 5px 0;
	text-align:right;
}

.infoTextTitle
{
	font-size:15px;
	font-weight:bold;
}

.infoTextDesc
{
    width: 100%;
	margin-top:-10px;
}

.infoButtons {
    float: left;
    width: 20%;
}

.infoStar {
    padding: 10px 5px 5px 10px;
}

.infoPhone
{
    padding: 5px 5px 5px 10px;
}

/*End of info modal layout*/


.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}

.select2-search {
  display: none;
}

/* Toogle Class */

.toogle
{
	overflow:hidden;
	background-color:#f4f4f4;
	width:100%;
	padding:0px;
	padding-top:10px;
}

.tooglLeft
{
	width:50%;
	float:left;
	margin-left:30px;
	margin-top:3px;
	font-size:22px;
}

.tooglRight
{
	width:40%;
	float:right;
}


.NonActiveCircleToogle
{
	float:right;
	width:30%;
}

.NonActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#fff;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.ActiveCircleToogle
{
	float:right;
	width:30%;
}

.ActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#ff7b00;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.lineToogle
{
	margin-top:3x;
	margin-bottom:3px;
}



/* end toggle */


/* tabs */

	.tabsDiv
	{
		overflow:hidden;
		width:100%;
		margin-top:0px;
		position:relative;
		padding:10px;
	}
	
	.tabsActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#333;
		text-align:center;
		padding:10px;
		border-bottom:1px solid #900;
	}
	
	.tabsActive33
	{
		float:right;
		width:31%;
		font-size:10px;
		color:#1C9F8D;
		text-align:center;
		padding:2px;
		border-bottom:1px solid #900;
        background-color: #fff;
        font-weight: bold;
	}
	
	.tabsNotActive
	{
		float:right;
		width:50%;
		font-size:16px;
		color:#CCC;

		text-align:center;
		padding:10px;

	}
	
	.tabsNotActive33
	{
		float:right;
		width:33%;
		font-size:10px;
		color:#ffffff;
        border-right:1px solid #fff;
		text-align:center;
		padding:2px;
        background-color: #1C9F8D;

	}


    .WeatherMainDiv
    {
        background-color: red;
        opacity: 0.8;
        width: 100%;
    }

    .toogle
    {
        text-align: right;
    }
	/* end tabs */





/*Main page layout*/

.mainSearchDiv {
    position: relative;
}

.mainSearch {
    background-color: #F4F4F4;
    width: 90%;
    margin: 15px 5% 5px 5%;
    text-align: center;
}

.mainSearchIcon {
    position: absolute;
    top: 30%;
    right: 7%;
    font-size: 150%;
    color: #7A7C7B;
}

.nothingFound{
    font-size: 130%;
    color: red;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.imageMain{
    position: relative;
    width: 100%;
}

.imageFav {
    position: absolute;
    right: 2%;
    top: 5%;
}

.imageMaps {
    position: absolute;
    left: 2%;
    top: 5%;
}

.imageDistance {
    position: absolute;
    left: -10px;
    top: 23%;
    color: white;
    line-height: 110%;
    font-weight: bold;
    text-align: center;
    width:80px;
    font-size: 90%;
}


.imageCircle {
    width: 100px;
    height: 100px;
    background: #FCC900;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    padding-top: 27px;
}

.imageCirclePercent {
    font-size: 300%;
    font-weight: bold;
    color: black;
    display: block;
    line-height: 80%;
}

.imageCircleDiscount {
    font-size: 150%;
    font-weight: bold;
    color: black;
}

.imageTimeGap {
    width: 60%;
    height: 20px;
    background: white;
    border-radius: 7px;
    position:absolute;
    top: 58%;
    margin: 0 26%;
}

.imageHr {
    width:90%;
    margin: 0 5%;
    height: 2px;
    position: absolute;
    top: 70%;
    background: white;
}

.imageLogo {
    position: absolute;
    right: 2%;
    top: 73%;
}

.imageName {
    position: absolute;
    right: 20%;
    top: 74%;
    font-size: 120%;
    color: white;
    font-weight: bold;
}

.imageKosher {
    color: #FCC900;
    font-size: 80%;
    font-weight: normal;
}

.imageAddress {
    position: absolute;
    right: 20%;
    top: 82%;
    color: white;
    width: 44%;
    line-height: 16px;
    text-align: right;
}

.imageWhatsUp {
    position: absolute;
    top: 76.9%;
    left: 12%;
}

.imageInf {
    position: absolute;
    top: 78%;
    left: 26%;
    font-size: 250%;
    color: white;
}

.imageQuantityOrdered {
    width: 40px;
    height: 40px;
    background: black;
    opacity: 0.5;
    position: absolute;
    left: 2%;
    top: 75%;
    color: #FCC900;
    font-weight: bold;
    font-size: 160%;
    padding-top: 2%;
    display: block;
    line-height: 70%;
    text-align: center;
}

.imageDeals {
    margin-bottom: 15px;
}

.imageOrderButton {
    position: relative;
    margin-top: -5px;
}

.imageDeleteOrder {
    position: absolute;
    width: 13%;
    height: 100%;
    top: 0;
    left: 0;
}

.scrollToTop
{
    position:absolute;
    z-index:100;
    right:30px;
    bottom:100px;
}

.orderAdded .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 200px;
    margin-top: -200px;
}

.orderAdded .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.orderAddedImg {
    padding-top: 20px;
}

.orderAddedCloseButton {
    top: 2px;
    right: -4px;
    position:absolute;
}

.deleteOrder .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 150px;
    margin-top: -200px;
}

.deleteOrder .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.deleteOrderBlock {
    padding-top: 20px;
    width: 94%;
    margin: 0 3%;
}

.deleteOrderCloseButton {
    top: 2px;
    right: -10px;
    position:absolute;
}

.deleteOrderImg {
    height: 60px;
    width: 100%;
}

.deleteOrderButtons {
    width: 100%;
    overflow: hidden;
}

.deleteOrderYes {
    width: 50%;
    float: right;
}

.deleteOrderNo {
    width: 50%;
    float: left;
}

.favoritesPopup .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 200px;
    margin-top: -200px;
}

.favoritesPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.favoritesPopupImg {
    padding-top: 20px;
}

.favoritesPopupCloseButton {
    top: 2px;
    right: -4px;
    position:absolute;
}

.favoriteAdded .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 200px;
    margin-top: -200px;
}

.favoriteAdded .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.favoriteAddedImg {
    padding-top: 20px;
}

.favoriteAddedCloseButton {
    top: 2px;
    right: -4px;
    position:absolute;
}


.missedDeal .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 200px;
    margin-top: -200px;
}

.missedDeal .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.missedDealImg {
    padding-top: 20px;
}

.missedDealCloseButton {
    top: 2px;
    right: -4px;
    position:absolute;
}

.badge-container{
    position: relative;
}/*End of main page layout*/


/* Coupon */
.CouponDiv
{
    width: 100%;
    overflow: hidden;
}

.CouponImage
{
    float: right;
    width: 30%;
}

.CouponImageContainer
{
    width: 80%;
}
/* End Coupon */